{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "last 2 versions"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-class-properties",
    ["inline-react-svg", { "ignorePattern": "fonts/*" }],
    "styled-components",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
